@import "extends";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Dosis", sans-serif;
  font-size: $text-m;
  header {
    border-bottom: $border;

    div.wrapper {
      @extend %content;
      @extend %grid;
      justify-content: space-between;
      margin-bottom: 1.25rem;

      h1 {
        font-size: $heading-l;
        font-family: "UnifrakturMaguntia", cursive;
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        grid-column-start: 1;
        grid-column-end: 3;
      }
      h2 {
        font-size: $heading-m;
        font-weight: normal;
      }
      div#search {
        @extend %vertical-box;
        i {
          position: absolute;
          padding-left: 0.5rem;
        }
        input {
          width: 15rem;
          padding: 0.3rem;
          padding-left: 1.75rem;
          border: $border;
          outline: none;
          @extend %text-font;
        }
      }
    }
  }

  main {
    display: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @extend %content;
    &.show {
      @extend %grid;
    }
    &.hide {
      display: none;
    }
    grid-template-columns: auto 1fr;
    grid-gap: 1.33rem;
    div#user {
      div#image {
        width: 250px;
        height: 250px;
        background-position: center;
        background-size: cover;
      }
      p#name,
      div#company,
      div#location,
      div#joined {
        margin-top: 0.75rem;
        display: flex;
        i {
          margin-top: 0.1rem;
          margin-right: 0.75rem;
        }
      }
      a {
        margin-top: 0.5rem;
        display: inline-block;
      }
    }

    div#repos {
      @extend %grid;
      grid-gap: 1rem;
      border: $border;
      padding: 1rem;

      h2 {
        grid-column-start: 1;
        grid-column-end: 3;
        @extend %center-box;
        font-weight: normal;
      }
      div.repo {
        @extend %center-box;
        border: $border;
      }
    }
  }

  footer {
    width: 100%;
    @extend %center-box;
    background-color: white;
    padding: 0.75rem;
    position: sticky;
    bottom: 0;
    border-top: $border;
    font-family: "UnifrakturMaguntia", cursive;
  }
}
